<div class="panel panel-default media p-5">
  <div class="media-body pl-10">
    <%= theme_item_title(question.title, users_question_path(question)) %>
    <%= theme_item_description(question.description) %>
  </div>
</div>



